{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 125,
  "prettier.singleQuote": false,
  "prettier.eslintIntegration": true,
  "prettier.tabWidth": 2,
  "prettier.useTabs": true,
  "plugins": ["prettier-plugin-organize-imports"]
}
